.btn_card{
    border: none;
    background: none;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

tbody{
    .edit_category a{
        color: cornflowerblue;
    }
    
    .delete_category a{
        color: red;
    }
    td{
        i{
            cursor: pointer;
        }
    }
}